//Import variables and mixins
@import "variables";
@import "mixins";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//Main Style
* {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

body {
    background-color: $body-color;
    width: $mobile-width;
    margin: 0 auto;
    text-align: center;

    @include desktop {
        width: 100vw;
    }

    main {
        background-color: $white;
        border-radius: 20px;
        border: 1px solid black;
        box-shadow: 8px 8px;
        height: $main-height;
        width: $main-width;
        margin: 155px 0;
        padding: $padding-main;
        text-align: left;

        @include desktop {
            margin: 218.5px auto;
            height: 522px;
            width: 384px;
        }
        .main-image {
            object-fit: cover;
            border-radius: 10px;
            overflow: hidden;
            height: $img-height;
            width: $img-width;
            margin: 0px auto;
            text-align: center;

            @include desktop {
                height: 200px;
                width: 336px;
            }
        }

        .main-content {
            h1 {
                border-radius: 4px;
                background-color: $body-color;
                font-size: $font-size-12;
                font-weight: bolder;
                margin: 20px 0 12px 0;
                padding: 4px 12px;
                width: 73px;
            }

            h1 + p {
                font-size: $font-size-12;
                margin-bottom: 12px;
            }

            h2 {
                font-size: $font-size-20;
                font-weight: bolder;

                @include desktop {
                    &:hover {
                        color: $body-color;
                    }
                }
            }

            h2 + p {
                color: $grey;
                font-size: $font-size-14;
            }
        }

        .autor-information {
            margin-top: 24px;
            img {
                float: left;
                height: 32px;
                width: 32px;
                margin-right: 12px;
            }

            img + p {
                font-size: $font-size-14;
                font-weight: bolder;
                padding: 5px;
            }
            @include desktop {
                padding-bottom: 0;
            }
        }
    }
    footer {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-bottom: 20px;
    }
}
