// Variables declaration
$mobile-width: 375px;
$desktop-width: 1440px;

$body-color: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

$font-size: 16px;
$font-size-12: 75%;
$font-size-14: 87.5%;
$font-size-20: 125%;
$font-primary: "Roboto", sans-serif;

$main-width: 327px;
$main-height: 501px;
$img-width: 279px;
$img-height: 200px;

$margin-main: 24px;
$padding-main: 24px;
